amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
billiard==4.2.1
celery==5.4.0
cffi==1.15.
channels==4.2.0
channels_redis==4.2.1
click==8.1.7
constantly==15.1.0
cryptography==3.4.8
daphne==4.1.2
Django==5.1.2
h11==0.13.0
hyperlink==21.0.0
idna==3.3
incremental==24.7.2
kombu==5.4.2
msgpack==1.1.0
packaging==21.3
pyOpenSSL==21.0.0
pyparsing==2.4.7
python-dateutil==2.9.0.post0
pytz==2022.1
PyYAML==6.0.1
redis==5.2.0
six==1.16.0
sqlparse==0.5.1
txaio==21.2.1
typing_extensions==4.12.2
tzdata==2024.2
uvicorn==0.32.0
vine==5.1.0
websockets==14.1
wsproto==1.0.0
pytest==8.1.1
pytest-xdist==3.3.1
allure-pytest==2.13.2
selenium==4.21.0
webdriver-manager==4.0.1
requests==2.32.3
Pillow==10.3.0
