<!DOCTYPE html>
<html>
<head>
    <title>Post List</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'css/dark-theme.css' %}">
</head>
<body>
    <header>
        <h1>Post List</h1>
    </header>
    <div class="container">
        {% for post in posts %}
        <div class="post">
             <a href="{% url 'post' post.pk %}">{{ post.title }}</a>
            <p class="post-content">{{ post.content }}</p>
            <p class="post-meta">Posted on {{ post.created_at }}</p>
            <button class="like-post" data-url="{% url 'like_post' post.pk %}">{{ post.likes }} Like</button>
           <a href="{% url 'like_post' post.pk %}">{{ post.likes }}</a>
        </div>
        {% endfor %}
    </div>
    <footer>
        <p>© 2024 Your Website</p>
    </footer>
   <script>
          $(document).ready(function() {
            $('.like-post').on('click', function() {
                const url = $(this).data('url'); // Используем const вместо var
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        // Обновление лайков после успешного запроса
                        $(this).text(response.likes + ' Like');
                    }.bind(this),
                    error: function(xhr, status, error) {
                        console.error('Ошибка запроса: ' + error);
                    }
                });
            });
        });
    </script>

</body>
</html>